.nav-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 170, 98);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.left {
  display: flex;
  margin-left: 15px;
}
.left h5 {
  margin: 0px 0px 0px 15px;
  font-size: 40px;
}
.left img {
  width: 50px;
  height: 50px;
}
.right {
  display: flex;
  margin-right: 15px;
}
.right a {
  font-size: 20px;
  margin: 0;
  text-decoration: none;
  color: rgb(33, 37, 41);
  transition: 0.2s;
  border-radius: 10px;
  padding: 5px 5px 6px 5px;
  cursor: pointer;
}
.logout {
  margin: auto;
}
.logout a:hover {
  background-color: white;
}
.middle a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
.middle a h4 {
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}
.middle a h4:hover {
  transform: translateY(-10%);
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.spacer {
  margin-bottom: 5%;
  align-self: flex-end;
}
.mobile-menu {
  width: 35px;
  display: none;
  margin: 1em 0 0 1em;
}
.mobile-menu div {
  height: 4px;
  margin: 5px 0;
  border-radius: 25px;
  background-color: white;
}
.slide-menu {
  width: 80vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: none;
  text-align: center;
  padding-top: 2%;
  transition: 0.3s;
  transform: translateX(100%);
}
.slide-menu a {
  text-decoration: none;
  color: black;
}
.slide-menu h4 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.slide-background {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}
.slide-active {
  transform: translate(0);
}
.back-active {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.slide-close {
  text-align: right;
  width: 35px;
  height: auto;
}
.slide-close h2 {
  margin-right: 5%;
}
.help {
  text-decoration: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: 0.2s;
  background: none;
  border: none;
  outline: none;
}
.help:hover {
  color: white;
}
.help:focus {
  transform: scale(1.1);
}
.rules-popover {
  text-align: center;
  background-color: rgb(39, 170, 98);
}

@media all and (max-width: 992px) {
  .left h5 {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .middle {
    display: none;
  }
  .logout {
    display: none;
  }
  .slide-menu {
    display: inline-block;
  }
}
