<!--Modal-->
<ng-template #content let-modal class="modal-dialog">
  <form (ngSubmit)="onProposeWord(f, modal)" #f="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">
        Proposer un couple de mots
      </h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="inputs">
        <div class="form-group mb-3">
          <label for="word1" class="form-label">1er mot</label>
          <input
            type="text"
            name="word1"
            id="word1"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessage.word1 != ''
            }"
            ngModel
            required
            ngbAutofocus
          />
          <div class="invalid-feedback">
            {{ errorMessage.word1 }}
          </div>
        </div>
        <h5 class="spacer">/</h5>
        <div class="form-group mb-3">
          <label for="word2" class="form-label">2e mot</label>
          <input
            type="text"
            name="word2"
            id="word2"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessage.word2 != ''
            }"
            ngModel
            required
          />
          <div class="invalid-feedback">
            {{ errorMessage.word2 }}
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.global != ''">
        {{ errorMessage.global }}
      </div>
    </div>
    <div class="modal-footer">
      <div
        class="spinner-border text-primary"
        role="status"
        *ngIf="Loading"
      ></div>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss()"
        data-bs-dismiss="modal"
      >
        Fermer
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Envoyer
      </button>
    </div>
  </form>
</ng-template>
<!--Body-->
<div class="nav-bar">
  <div class="left">
    <img src="../../../assets/Logo-Undercover.svg" width="64px" class="logo" />
    <h5>Undercover</h5>
  </div>
  <div class="middle" *ngIf="isAuth">
    <a (click)="openModal(content)"><h4>Proposez vos mots !</h4></a>
  </div>
  <div class="right" *ngIf="isAuth">
    <div class="logout">
      <a (click)="onLogout()">Deconnexion</a>
    </div>
    <a class="mobile-menu" (click)="slideMenu = true">
      <div></div>
      <div></div>
      <div></div>
    </a>
  </div>
</div>
<div [ngClass]="{ 'slide-menu': true, 'slide-active': slideMenu }">
  <a (click)="slideMenu = false" class="slide-close"><h2>×</h2></a>
  <a (click)="openModal(content)"><h4>Proposez vos mots !</h4></a>
  <a routerLink="lobby" *ngIf="isInRoom()"><h4>Quitter la salle</h4></a>
  <a (click)="onLogout()"><h4>Deconnexion</h4></a>
</div>
<div
  [ngClass]="{ 'slide-background': true, 'back-active': slideMenu }"
  (click)="slideMenu = false"
></div>
