<!--Rules Modal-->
<ng-template #rulesModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Règles de l'Undercover</h5>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center">
    <p>
      Tous les joueurs se voient attribuer un mot. Chacun leur tour ou en même
      temps (à vous de décider comment vous voulez jouer) ils vont donner un mot
      clé décrivant ou se raprochant de leur mot (si j’ai le mot renard, je peux
      dire animal, mignon, poils…).
    </p>
    <p>
      Le but du jeu est de trouver la ou les personnes ayant un mot différent de
      la majourité, ils se font appeler les Undercovers. Une fois quelques mots
      clé échangés les participants peuvent décider à la majorité d'initier la
      phase de vote, dans cette phase chacun va devoir voter pour le/les
      Undercovers, chaque vote correct raporte 50 points et chaque Undercover
      gagne 50 points pas Civils n'ayant pas voté pour lui.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss()"
      data-bs-dismiss="modal"
      ngbAutoFocus
    >
      Fermer
    </button>
  </div>
</ng-template>
<!--Word Modal-->
<ng-template #wordModal let-modal class="modal-dialog">
  <form (ngSubmit)="onProposeWord(f, modal)" #f="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">
        Proposer un couple de mots
      </h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="inputs">
        <div class="form-group mb-3">
          <label for="word1" class="form-label">1er mot</label>
          <input
            type="text"
            name="word1"
            id="word1"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessage.word1 != ''
            }"
            ngModel
            required
            ngbAutofocus
          />
          <div class="invalid-feedback">
            {{ errorMessage.word1 }}
          </div>
        </div>
        <h5 class="spacer">/</h5>
        <div class="form-group mb-3">
          <label for="word2" class="form-label">2e mot</label>
          <input
            type="text"
            name="word2"
            id="word2"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessage.word2 != ''
            }"
            ngModel
            required
          />
          <div class="invalid-feedback">
            {{ errorMessage.word2 }}
          </div>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.global != ''">
        {{ errorMessage.global }}
      </div>
    </div>
    <div class="modal-footer">
      <div
        class="spinner-border text-primary"
        role="status"
        *ngIf="Loading"
      ></div>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss()"
        data-bs-dismiss="modal"
      >
        Fermer
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Envoyer
      </button>
    </div>
  </form>
</ng-template>
<!--Body-->
<div class="nav-bar">
  <div class="left">
    <img
      src="assets/Logo-Undercover.svg"
      routerLink="lobby"
      width="50px"
      class="logo"
    />
    <div style="display: flex">
      <h5 style="margin-right: 3%">Undercover</h5>
      <button
        type="button"
        class="help"
        (click)="openModal(rulesModal)"
        #popover="ngbPopover"
        [closeDelay]="3000"
        triggers="manual"
        ngbPopover="Si vous ne connaissez pas les rêgles du jeu, cliquez ici !"
        popoverClass="rules-popover"
      >
        ⓘ
      </button>
    </div>
  </div>
  <div class="middle" *ngIf="isAuth">
    <button (click)="openModal(wordModal)"><h4>Proposez vos mots !</h4></button>
  </div>
  <div class="right" *ngIf="isAuth">
    <div class="logout">
      <button (click)="onLogout()">Deconnexion</button>
    </div>
    <button class="mobile-menu" (click)="slideMenu = true">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</div>
<div [ngClass]="{ 'slide-menu': true, 'slide-active': slideMenu }">
  <button (click)="slideMenu = false" class="slide-close"><h2>×</h2></button>
  <button
    (click)="openModal(wordModal)"
    class="slide-btn"
    style="margin-top: 8%"
  >
    <h4>Proposez vos mots !</h4>
  </button>
  <button
    routerLink="lobby"
    class="slide-btn"
    *ngIf="isInRoom()"
    (click)="slideMenu = false"
  >
    <h4>Quitter la salle</h4>
  </button>
  <button *ngIf="isHost()" class="slide-btn" (click)="onDeployGameSettings()">
    <h4>Paramètres de la salle</h4>
  </button>
  <button (click)="onLogout()" class="slide-btn"><h4>Deconnexion</h4></button>
</div>
<div
  [ngClass]="{ 'slide-background': true, 'back-active': slideMenu }"
  (click)="slideMenu = false"
></div>
