.container {
  text-align: center;
}
.box {
  display: inline-block;
  width: 40%;
}
.form-group {
  text-align: left;
}
.autoConnect {
  margin-bottom: 3%;
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

@media all and (max-width: 992px) {
  .box {
    width: 80%;
  }
  .button-box {
    display: block;
  }
}
