<div class="container">
  <div class="box">
    <h3>Connectez vous</h3>
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="form-group mb-3">
        <label for="login" class="form-label">Pseudo/Mail</label>
        <input
          type="text"
          name="login"
          id="login"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.username + errorMessage.password != ''
          }"
          ngModel
          required
        />
        <div class="invalid-feedback">{{ errorMessage.username }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Mot de Passe</label>
        <input
          type="password"
          name="password"
          id="password"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.username + errorMessage.password != ''
          }"
          ngModel
          required
        />
        <div class="invalid-feedback">{{ errorMessage.password }}</div>
      </div>
      <div class="form-check form-switch autoConnect">
        <input
          class="form-check-input"
          type="checkbox"
          id="auto-connect"
          name="auto-connect"
          ngModel
        />
        <label class="form-check-label" for="auto-connect"
          >Connexion automatique</label
        >
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
        {{ errorMessage.other }}
      </div>
      <div class="button-box">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
          Connexion
        </button>
        <p style="margin: 0">ou</p>
        <a routerLink="/signup">Inscrivez vous</a>
      </div>
      <div class="alert alert-success loading" *ngIf="loading">
        Chargement...
      </div>
    </form>
  </div>
</div>
