.content {
  width: 100%;
  padding: 1%;
}
.players {
  overflow-y: auto;
  max-height: 75vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    [col-start] minmax(350px, 1fr) [col-end]
  );
  text-align: center;
}
.player {
  margin: auto;
  margin-bottom: 10%;
  width: 100%;
  overflow: hidden;
}
.vote-btn {
  margin-left: 35%;
  width: 30%;
}
.word-submit {
  width: 90%;
  margin: auto;
}

@media all and (max-width: 992px) {
  .vote-btn {
    width: 60%;
    margin-left: 20%;
  }
}
