.content {
  width: 100%;
  height: calc(100vh - 100px);
}
.gameInfo {
  height: 10%;
  text-align: center;
}
.players {
  overflow-y: auto;
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    [col-start] minmax(350px, 1fr) [col-end]
  );
  text-align: center;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}
.player {
  margin: auto;
  overflow-x: hidden;
  padding-left: 1%;
  padding-right: 1%;
  align-self: start;
  width: 100%;
  height: 100%;
}
.player div {
  overflow-x: hidden;
}
.vote-btn {
  margin-left: 35%;
  width: 30%;
}
.word-submit {
  width: 20%;
  margin: auto;
}
.word-submit input {
  text-align: center;
}
.WordLoading {
  margin-top: 3%;
  margin-left: 45%;
}

@media all and (max-width: 992px) {
  .vote-btn {
    width: 70%;
    margin-left: 15%;
  }
  .word-submit {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .WordLoading {
    margin-top: 3%;
    margin-left: 0;
  }
}
