<div class="content">
  <div
    class="alert alert-danger"
    *ngIf="errorMessage.global != ''"
    (click)="errorMessage.global = ''"
    style="cursor: pointer; width: fit-content; margin: auto"
  >
    {{ errorMessage.global }}
  </div>
  <div class="players">
    <div class="player" *ngFor="let player of Room.players; let i1 = index">
      <h5>{{ player.userInfo.username }}</h5>
      <div class="words">
        <div class="word" *ngFor="let word of player.words; let i2 = index">
          {{ word }}
        </div>
      </div>
      <form (ngSubmit)="onSubmitWord(f)" #f="ngForm" *ngIf="player.isOwner">
        <div class="mb-3 word-submit">
          <input
            type="text"
            name="word"
            id="word"
            [ngClass]="{
              'form-control': true,
              'is-invalid': errorMessage.word != ''
            }"
            placeholder="Entrez un mot ici"
            ngModel
            required
          />
          <div class="invalid-feedback">
            {{ errorMessage.word }}
          </div>
          <div
            class="spinner-border text-primary"
            role="status"
            style="margin-top: 5%"
            *ngIf="Loading"
          ></div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-outline-success vote-btn">
    <h5 style="margin: 5px">Voter</h5>
  </button>
</div>
