<div class="content">
  <div class="left">
    <h3>Salles disponibles</h3>
    <div class="list-group">
      <div class="room list-group-item" *ngFor="let room of rooms">
        <h5>{{ room.name }}</h5>
        <div class="room-spacer">
          <h5>{{ room.players.length }}/{{ room.max_players }}</h5>
          <button class="btn btn-outline-success">Rejoindre</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right list-group-item">
    <h3>Joueurs connectés</h3>
    <div class="alert alert-danger" *ngIf="errorMessage.players != ''">
      {{ errorMessage.players }}
    </div>
    <div class="player" *ngFor="let player of players">
      <h5>{{ player.username }}</h5>
    </div>
  </div>
</div>
