<!--Create room Modal-->
<ng-template #content let-modal class="modal-dialog">
  <form (ngSubmit)="onCreateRoom(f, modal)" #f="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Créer une salle</h5>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Nom de la salle</label>
        <input
          type="text"
          name="name"
          id="name"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessageCreateRoom.name != ''
          }"
          ngModel
          required
          ngbAutofocus
        />
        <div class="invalid-feedback">
          {{ errorMessageCreateRoom.name }}
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="max-players" class="form-label">Nombre de joueurs</label>
        <h5 style="text-align: center">{{ rangeBarVal }}</h5>
        <input
          type="range"
          name="max-players"
          id="max-players"
          min="2"
          max="10"
          step="1"
          value="2"
          [ngClass]="{
            'custom-range': true,
            'is-invalid': errorMessageCreateRoom.maxPlayers != ''
          }"
          [(ngModel)]="rangeBarVal"
        />
        <div class="invalid-feedback">
          {{ errorMessageCreateRoom.maxPlayers }}
        </div>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="errorMessageCreateRoom.other != ''"
      >
        {{ errorMessageCreateRoom.other }}
      </div>
    </div>
    <div class="modal-footer">
      <div
        class="spinner-border text-primary"
        role="status"
        style="margin-top: 5%"
        *ngIf="createRoomLoading"
      ></div>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modal.dismiss()"
        data-bs-dismiss="modal"
      >
        Fermer
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Créér la salle
      </button>
    </div>
  </form>
</ng-template>
<!--Body-->
<div class="content">
  <div class="left">
    <h3>Salles disponibles</h3>
    <div
      class="alert alert-danger"
      *ngIf="errorMessageMain.rooms != ''"
      (click)="errorMessageMain.rooms = ''"
      style="cursor: pointer"
    >
      {{ errorMessageMain.rooms }}
    </div>
    <div class="list-group rooms">
      <div
        class="room list-group-item"
        *ngFor="let room of rooms; let i = index"
      >
        <h5>{{ room.name }}</h5>
        <div class="room-left">
          <h5>{{ room.players }}/{{ room.max_players }}</h5>
          <button
            class="btn btn-outline-success"
            (click)="onJoinRoom(i)"
            [disabled]="room.players >= room.max_players"
          >
            Rejoindre
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="openModal(content)">
      Créer une salle
    </button>
  </div>
  <div class="right list-group-item">
    <h3>Joueurs connectés</h3>
    <div
      class="alert alert-danger"
      *ngIf="errorMessageMain.players != ''"
      (click)="errorMessageMain.players = ''"
      style="cursor: pointer"
    >
      {{ errorMessageMain.players }}
    </div>
    <div class="players">
      <div class="player" *ngFor="let player of players">
        <h5>{{ player.username }}</h5>
      </div>
    </div>
  </div>
</div>
