<div *ngIf="modalState == 0">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title" style="margin: auto">
      Voter {{ timeOut }}
    </h5>
    <h6 style="float: right">
      Il vous reste
      {{ numVotes }} votes
    </h6>
    <button
      type="button"
      class="close"
      (click)="dismissModal()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="players">
      <div class="player" *ngFor="let player of Room.players; let i1 = index">
        <div style="display: flex; justify-content: center">
          <h6>{{ player.userInfo.username }}</h6>
          <h6 style="margin-left: 2%" *ngIf="voteDone(i1)">✅</h6>
        </div>
        <div *ngIf="Room.players[ownerIndex].word != ''">
          <button
            style="margin-bottom: 5%"
            class="btn btn-primary"
            *ngIf="!player.isOwner && player.word != '' && !isVoted(i1)"
            (click)="onVote(i1, false)"
          >
            Voter
          </button>
          <button
            style="margin-bottom: 5%"
            class="btn btn-danger"
            *ngIf="!player.isOwner && player.word != '' && isVoted(i1)"
            (click)="onVote(i1, true)"
          >
            Voté
          </button>
        </div>
        <h6 *ngIf="player.word == ''">(Spectateur)</h6>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
      {{ errorMessage.other }}
    </div>
  </div>
</div>
<div *ngIf="modalState == 1">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Résultats</h5>
    <button
      type="button"
      class="close"
      (click)="dismissModal()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <h5 style="text-align: center">
        Undercovers : {{ undercovers[0].userInfo.word }}
      </h5>
    </div>
    <div class="players">
      <div class="player" *ngFor="let undercover of undercovers">
        <p [ngClass]="{ 'right-vote': undercover.voted }">
          {{ undercover.userInfo.userInfo.username }}
        </p>
      </div>
    </div>
    <div>
      <h5 style="text-align: center">
        Civilians : {{ civilians[0].userInfo.word }}
      </h5>
    </div>
    <div class="players">
      <div class="player" *ngFor="let civilian of civilians">
        <p [ngClass]="{ 'wrong-vote': civilian.voted }">
          {{ civilian.userInfo.userInfo.username }}
        </p>
      </div>
    </div>
    <h5 style="text-align: center; margin-bottom: 5%">
      Notez les mots que vous avez eu !
    </h5>
    <div
      style="
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
      "
    >
      <button
        [ngClass]="{ 'like-btn': true, liked: like == 1 }"
        ngbPopover="Like"
        popoverClass="like-popover"
        triggers="mouseenter:mouseleave"
        (click)="onLike(true)"
      >
        <img src="assets/Like-logo.svg" width="64px" />
      </button>
      <button
        [ngClass]="{ 'like-btn': true, liked: like == -1 }"
        ngbPopover="Dislike"
        popoverClass="dislike-popover"
        triggers="mouseenter:mouseleave"
        (click)="onLike(false)"
      >
        <img src="assets/Dislike-logo.svg" width="64px" />
      </button>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
      {{ errorMessage.other }}
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="dismissModal()"
      data-bs-dismiss="modal"
      ngbAutofocus
    >
      Fermer
    </button>
  </div>
</div>
<div *ngIf="modalState == 2">
  <form (ngSubmit)="onModifyRoom(f)" #f="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Paramètres de la salle</h5>
      <button
        type="button"
        class="close"
        (click)="dismissModal()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 style="text-align: center">{{ Room.name }}</h5>
      <div class="form-group mb-3">
        <label for="max-players" class="form-label">Nombre de joueurs</label>
        <input
          type="number"
          name="max-players"
          min="3"
          max="10"
          [value]="getFormVal(f, 'max-players')"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.maxPlayers != ''
          }"
          style="text-align: center; margin-bottom: 2%"
          ngModel
        />
        <input
          type="range"
          name="max-players"
          id="max-players"
          min="3"
          max="10"
          step="1"
          [value]="getFormVal(f, 'max-players')"
          [ngClass]="{
            'custom-range': true,
            'is-invalid': errorMessage.maxPlayers != ''
          }"
          ngModel
        />
        <div class="invalid-feedback">
          {{ errorMessage.maxPlayers }}
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="undercovers" class="form-label">Nombre d'Undercovers</label>
        <input
          type="number"
          name="undercovers"
          min="1"
          max="4"
          [value]="getFormVal(f, 'undercovers')"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.undercovers != ''
          }"
          style="text-align: center; margin-bottom: 2%"
          ngModel
        />
        <input
          type="range"
          name="undercovers"
          id="undercovers"
          min="1"
          max="4"
          step="1"
          [value]="getFormVal(f, 'undercovers')"
          [ngClass]="{
            'custom-range': true,
            'is-invalid': errorMessage.undercovers != ''
          }"
          ngModel
        />
        <div class="invalid-feedback">
          {{ errorMessage.undercovers }}
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
        {{ errorMessage.other }}
      </div>
    </div>
    <div class="modal-footer">
      <div
        class="spinner-border text-primary"
        role="status"
        style="margin-top: 5%"
        *ngIf="loading"
      ></div>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="dismissModal()"
        data-bs-dismiss="modal"
        ngbAutoFocus
      >
        Fermer
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Modifier la salle
      </button>
    </div>
  </form>
</div>
