.players {
  overflow-y: auto;
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    [col-start] minmax(120px, 1fr) [col-end]
  );
  text-align: center;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
}
.player {
  margin: auto;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  align-self: start;
  width: 100%;
  height: 100%;
}
