<div class="container">
  <div class="box">
    <h3>Inscrivez vous</h3>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group mb-3">
        <label for="username" class="form-label">Pseudo</label>
        <input
          type="text"
          name="username"
          id="username"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.username != ''
          }"
          ngModel
          required
        />
        <div class="invalid-feedback">{{ errorMessage.username }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input
          type="email"
          name="email"
          id="email"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.email != ''
          }"
          ngModel
          required
          email
        />
        <div class="invalid-feedback">{{ errorMessage.email }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Mot de Passe</label>
        <input
          type="password"
          name="password"
          id="password"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.password != ''
          }"
          ngModel
          required
        />
        <div class="invalid-feedback">{{ errorMessage.password }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="password-repeat" class="form-label">Répétez</label>
        <input
          type="password"
          name="password-repeat"
          id="password-repeat"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.password != ''
          }"
          ngModel
          required
        />
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
        {{ errorMessage.other }}
      </div>
      <div class="button-box">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
          Inscription
        </button>
        <p style="margin: 0">ou</p>
        <a routerLink="/login">Connectez vous</a>
      </div>
      <div
        class="spinner-border text-primary"
        role="status"
        style="margin-top: 5%"
        *ngIf="loading"
      ></div>
    </form>
  </div>
</div>
