<div class="container">
  <div class="box">
    <h3 style="margin-bottom: 5%">Changement de mot de passe</h3>
    <form (ngSubmit)="onChangePassword(f)" #f="ngForm">
      <div class="form-group mb-3">
        <label for="password" class="form-label">Nouveau mot de Passe</label>
        <input
          type="password"
          name="password"
          id="password"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.password != ''
          }"
          ngModel
          required
        />
        <div class="invalid-feedback">{{ errorMessage.password }}</div>
      </div>
      <div class="form-group mb-3">
        <label for="password-repeat" class="form-label">Répétez</label>
        <input
          type="password"
          name="password-repeat"
          id="password-repeat"
          [ngClass]="{
            'form-control': true,
            'is-invalid': errorMessage.password != ''
          }"
          ngModel
          required
        />
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage.other != ''">
        {{ errorMessage.other }}
      </div>
      <div class="alert alert-success" *ngIf="successMessage != ''">
        {{ successMessage }}
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
          Changer de mot de passe
        </button>
      </div>
      <div
        class="spinner-border text-primary"
        role="status"
        style="margin-top: 5%"
        *ngIf="loading"
      ></div>
    </form>
  </div>
</div>
